.review-container {
  margin: 0 auto;
  max-width: 90%;
}


.filled-star {
    color: gold;
  }
  
  .unfilled-star {
    color: lightgray
  }

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.product-details-container {
  padding-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.product-image {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.product-container {
  text-align: center;
  background-color: rgb(235, 238, 235);
}

.product-card {
  padding: 15px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  background-color: rgb(113, 158, 138);
}

img {
  border-radius: 35px;
}