.review-container {
  margin: 0 auto;
  max-width: 90%;
}


.filled-star {
    color: gold;
  }
  
  .unfilled-star {
    color: gray;
  }

  /* .product-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
  