.contact-page {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-form {
    display: flex;
  
}

.send-button {
    margin-top: 10px;
} 

.send-button i {
    padding-left: 7px;
}
.info-headers {
    font-weight:bold;
}

.info-headers-form {
    font-weight:500;
    padding-bottom: 10px;
    padding-top: 10px;
}


.info-paragraph {
    font-weight:300;
}

.thanks {
    text-align: center;
    margin-top: 100px;
}

.ContactContainer {
    background-color: rgb(235, 238, 235);
}