* {
    box-sizing: border-box;
}
body {
    margin: 0;    
    scroll-behavior: smooth;
} /*-- default width of body is 100% --*/

#noneall p{
    text-decoration:none;
}

 .mainheader {
    background-color: rgb(213, 213, 213);
    height: 60vh;
    display: block;
 }

 .navbar-expand-md {
    background-color: rgb(213, 213, 213);
    border-radius: 15px;
    z-index: 999;
 }
 .navbar-nav {
    border-radius: 15px;
 }

.icons {
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;

}
#icons{
    color: black;
    font-size: 18px;
    padding: 8px;
}

.login-text {
    font-size: 13px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(146, 146, 180);
    color: rgb(29, 29, 29);
    opacity: 90%;
}

.join-save {
  color: black;
}
.brand-name {
    margin: 0;
    font-size: 25px;
    text-align: center;
    background-color: rgba(13, 143, 104, 0.496);
    font-weight: 450;
}


@media (max-width: 767.98px) {
    #header {
      display: flex;
      justify-content: start;
    }
  }

.nav-item {
width: 100px;
text-align: center;
font-size: 4vh;
padding-right: 25px;
padding-left: 25px;
margin: 1vh;
border-radius: 10px;
text-decoration: none;
}
.nav-item p{
    text-decoration: none;
}


.subscribe p {
    margin: 0;
    text-align: center;
    background-color: rgb(165,210,235);
}

.cool-beans {
	border-radius: 65px;
	padding-bottom: 140px;
	background-image: url("./images/secondlogo.svg");
	background-repeat: no-repeat;
    position: relative;
    width: 500px;
    background-position: center;
    background-size:contain;
}

.logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}

.navbar
{
    margin-top: 25px;
}
