* {
    box-sizing: border-box;
}
body {
    margin: 0;    
} /*-- default width of body is 100% --*/

#noneall p{
    text-decoration:none;
}
 ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
 }



.bi-person-cycle {
    font-size: 15px;
    padding: 8px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;
    background: rgb(151,222,203);
    background: linear-gradient(90deg, rgba(151,222,203,1) 31%, rgba(83,201,166,1) 66%, rgba(142,219,198,1) 97%);
}
#icons{
    color: black;
    font-size: 25px;
    padding: 8px;
}

.login-text {
    font-size: larger;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(146, 146, 180);
    color: rgb(29, 29, 29);
    opacity: 90%;
}

.join-save {
  color: black;
}
.brand-name {
    margin: 0;
    font-size: 25px;
    text-align: center;
    background-color: rgba(13, 143, 104, 0.496);
    font-weight: 450;
}

#header {
    background: rgb(151,222,203);
    background: linear-gradient(90deg, rgba(151,222,203,1) 31%, rgba(83,201,166,1) 66%, rgba(142,219,198,1) 97%);
 
    box-shadow: inset 0px -4px 10px rgba(0,0,0,0.75);
}

@media (max-width: 767.98px) {
    #header {
      display: flex;
      justify-content: start;
    }


  }


.nav-item {
width: 100px;
text-align: center;
font-size: 4vh;
padding-right: 25px;
padding-left: 25px;

margin: 4vh;
border-radius: 10px;
text-decoration: none;
}
.nav-item p{
    text-decoration: none;
}


.subscribe p {
    margin: 0;
    text-align: center;
    background-color: rgb(165,210,235);
}

.cool-beans {
	border-radius: 65px;
	overflow: hidden;
	padding-bottom: 180px;
	background-image: url("./images/secondlogo.svg");
	background-repeat: no-repeat;
    margin: 0;
    position: relative;
    width: 40%;
    background-position: center;
    background-size:contain;

}

.logo {
    background: rgb(151,222,203);
    background: linear-gradient(90deg, rgba(151,222,203,1) 31%, rgba(83,201,166,1) 66%, rgba(142,219,198,1) 97%);
    display: flex;
    justify-content: center;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}

