.first-ad {
    background-image: url(./images/Neutral\ Minimalist\ Name\ LinkedIn\ Article\ Cover\ Image.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit:contain;
    object-position: bottom;
    height: 400px;
    width: 400px;   
    border-radius: 0px 0px 50px 50px; 
}
.second-ad {
    background-image: url(./images/Neutral\ Minimalist\ Name\ LinkedIn\ Article\ Cover\ Image.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit:fill;
    height: 400px;
    width: 400px;  
    border-radius: 0px 0px 50px 50px; 
}


.carousel {
    background-color: rgb(235, 238, 235);
   
}

.carousel h3 {
    color: black;
}
.carousel p {
    color: black;
}

.homepage-products {
background-color: rgb(235, 238, 235);
}

.coffee-link {
   color: rgb(90, 87, 87);
   text-decoration: underline;
}

.coffee-link:hover {
   color: rgba(13, 143, 104, 0.791);
 }

 .second-logo {
	background-image: url("./images/secondlogo.svg");
	background-repeat: no-repeat;
    margin: 0;
    width: 110%;
    background-position: center;
    background-size:contain;
    background-color: rgb(235, 238, 235);
    height: 350px;
 }


 .about-us p {
  font-size: 20px;
font-weight: lighter;
  font-family:cursive
 }

 .about-us { 
    background-color: rgb(235, 238, 235);
    margin-top: 30px;
    padding-bottom: 100px;
 }


