.products {
    margin: .2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
  } 

.products img {
  background-color: white;
}

#producthead{
  
    text-align: center;
    padding: 2%;
    border-bottom: 1px inset black;
  
}